body {
  background-color: rgb(255, 255, 255);
  font: 400 1.125em/1.38 Raleway;
  color: rgb(255, 255, 255);
}

.container {
  width: 947px;
  height: 294px;
  margin: 423px auto 0;
}

.container .element {
  width: 294px;
  height: 294px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.container .element:hover {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.container .text:hover {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  font-weight: 200;
}

.element {
  float: left;
  background-color: rgb(222, 222, 222);
}

.text {
  text-align: center;
}

.element-1 {
  width: 100%;
  height: 367px;
  background-image: -webkit-linear-gradient(349deg, rgb(132, 222, 142) 0%, rgb(222, 228, 141) 100%);
  background-image:    -moz-linear-gradient(349deg, rgb(132, 222, 142) 0%, rgb(222, 228, 141) 100%);
  background-image:      -o-linear-gradient(349deg, rgb(132, 222, 142) 0%, rgb(222, 228, 141) 100%);
  background-image:     -ms-linear-gradient(349deg, rgb(132, 222, 142) 0%, rgb(222, 228, 141) 100%);
  background-image:         linear-gradient(101deg, rgb(132, 222, 142) 0%, rgb(222, 228, 141) 100%);
  box-shadow: 0 -2px 5px rgba(54, 54, 54, 0.35) inset;
}

.element-1:hover {
  box-shadow: 0 -2px 5px rgba(54, 54, 54, 0.35) inset;
}

.element-2 {
  margin-left: 1px;
}

.element-2:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-color: rgb(248, 213, 141);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.element-3 {
  margin-left: 3.29494%;
}

.element-3:hover {
  border-color: rgb(215, 123, 255);
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  background-color: rgb(222, 222, 222);
}

.element-4 {
  margin-left: 3.2801%;
}

.element-4:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-color: rgb(129, 200, 255);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.text-1 {
  margin: 134px auto 0;
  font-family: 'Pier Sans';
  font-size: 2.833em;
  color: rgb(255, 255, 255);
}

.text-2 {
  float: left;
  clear: both;
  width: 100%;
  min-height: 63px;
  margin-top: 28px;
  font-size: 1em;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.text-3 {
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 70px;
  font-size: 2.667em;
  color: rgb(251, 197, 22);
}

.text-3:hover {
  border-bottom-color: rgb(248, 213, 141);
  font-size: 48px;
}

.text-4 {
  float: left;
  width: 294px;
  padding-top: 119px;
  padding-bottom: 109px;
  font-size: 2.222em;
  color: rgb(215, 123, 255);
}

.text-4:hover {
  border-bottom-color: rgb(215, 123, 255);
}

.text-5 {
  float: left;
  width: 294px;
  padding-top: 119px;
  padding-bottom: 110px;
  font-size: 2.222em;
  color: rgb(129, 200, 255);
}

.text-5:hover {
  border-bottom-color: rgb(129, 200, 255);
  font-style: normal;
}